body {
  padding: 50px 0;
}
.my-container {
    background: #212121;
    overflow: hidden;
    opacity:.8;
}
.my-container:before {
    display: block;
    z-index: 1;
}
.my-container h1 {
    padding: 50px;
    text-align: center;
    z-index: 2;
    position: relative;
    color:#ffffff;
} 
.container-img{

}
.container-img img{
    width:300px;
}
article {
  background: #eee;
  padding: 15px;
  color:#212121;
}
