html,
body{
	margin: 0;
	padding: 0;
	font-family:monofur;
}
.navbar{
	background-color: #222;
  border-color: #080808;
	position: relative;
	margin-bottom:20px;
	border:1px transparent;
	min-height:50px;
}
.container{
	padding-left: 15px;	
	padding-right: 15px;
	margin-right: auto;
	margin-left: auto;
}
#container{
	padding-right: 150px;
  padding-left: 150px;
  border-radius: 6px;
}
.navbar-header{
	margin-right: -15px;
 	margin-left: -15px;
}
.navbar-brand{
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 24px;
  line-height: 20px;
}
.navbar-brand a{
	text-decoration: none;
	color:teal;
}
.navbar-brand a:hover,
.navbar-brand a:focus {
  text-decoration: none;
  color: #eee;
}
.nav {
	float:left;
  padding-left:15px;
  margin-bottom: 0;
  list-style: none;
  margin: 7.5px -15px;
}
.nav li {
	float: left;
  position: relative;
  display: block;
}
.nav li a {
  position: relative;
  display: block;
  padding: 7.5px 15px;
  text-decoration: none;
  color:teal;
  line-height: 20px;
}
.nav li a:hover,
.nav li a:focus {
  text-decoration: none;
  background-color: #eee;
  border-radius: 4px;
  color:#222;
}
.navbar-right {
  float: right !important;
  margin-right:15px;
}
.navbar-btn {
  margin-top: 8px;
  margin-bottom: 10px;
  line-height: 20px;
}
.navbar-btn button{
	color:#eee;
  background-color: #222;
  border-color: #111;
  padding: 5px 8px;
  font-size: 14px;
  line-height: 18px;
  border-radius: 4px;
}
.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
  margin-top:-20px;
  border-radius:4px;
}
.jumbotron h1{
  text-align: center;
  color: teal;
  font-weight: bold;
  font-size: 50px;
}
.jumbotron p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
  text-align: center;
}
.form{
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px;
  padding-left: 350px;
}
label {
  font-weight: bold;
  color: teal;
  font-size: 18px;
  border-radius:2px;
}
.row {
  margin-right:auto;
  margin-left:auto;
}
.form-group {
  margin-bottom: 15px;
}
.form-control {
  display: block;
  width: 50%;
  height: 34px;
  padding: 6px 12px;
  margin-top: 8px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}